<div class="head_body">
<div class="c_head_div">
  <p class="c_head"> Ruby on rails developer</p>
  <p class="c_head1">Wellington, Development, Full-time</p>

  <li class="apply"><%= link_to "Apply Now", careers_consumer_f_path %></li>

</div>
</div>