<div class="c_head_background">
  <div class="c_head_div">
    <p class="c_head"> Operations Director/COO designate</p>
    <p class="c_head1"> Wellington, Development, Full-time</p>
    <%= link_to "APPLY NOW", careers_director_f_path, class:"button_a  head_b" %>
  </div>

  <div class="body_div" >
    <p class="c_subhead">Job brief</p>

    <p>Love efficient processes, controls, rolling your sleeves up and building something special?</p>
<br>
    <p>This is a unique role that will see you oversee the preparation and execution of part the strategic vision as well as lead the day to day operations of this innovative online business.</p>
    <p>You will work to provide innovation and inspiration to your key reports so that all the business functions work in harmony.</p>

    <br>
    <p  class="c_subhead">You will be responsible for:</p>

    <ul class="myul">
      <li><span>Designing and implementing specific business processes for HR, finance, Customer support and sales support</span></li>
      <li><span>Ensuring department operations are efficient and achieving optimal outcomes.</span></li>
      <li><span>Establishing clear financial and operational controls.</span></li>
   </ul>

    <br>

    <p  class="c_subhead">Requirements</p>

    <ul class="myul">
      <li><span>The successful candidate will demonstrate a broad range of skills and leadership traits achieved within an online/subscription based environment.</span></li>
      <li><span> You will have an exceptional track record as a business leader in an executive position in an innovative/online business. </span></li>
      <li><span>Your ability to prioritise and organise will be excellent as will your ability to motivate and energise your teams and key stakeholders.</span></li>
      <li><span> With an influential personality you will showcase leadership, responsibility, creativity and inspired decision making.</span></li>
      <li><span> A background working with in an online business would be highly regarded.</span></li>
    </ul>
    <br>
    <P>Interested? Send us your resume below and we will be in contact.</P>

    <br>
    <br>
    <br>
    <br>
    <%= link_to "APPLY NOW", careers_ruby_f_path, class: "button_a foot_b" %>
    <br>
    <br>
    <br>
    <br>
    <%= link_to "Go back to carrers page", careers_index_path, class: "go_back" %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>