<div class="c_head_background">
  <div class="c_head_div">
    <p class="c_head"> Senior PostgreSQL DBA </p>
    <p class="c_head1"> Wellington, Development, Full-time</p>
    <%= link_to "APPLY NOW", careers_postgress_f_path, class:"button_a  head_b" %>
  </div>


  <div class="body_div" >
    <p class="c_subhead">Job brief</p>

    <p>Are you a PostgreSQL guru? Love data?  We are seeking an experienced DBA to help build and maintain our highly scalable database systems.</p>

    <br>
    <p  class="c_subhead">What will you do?</p>

    <ul class="myul">
      <li ><span>Design infrastructure and systems to support high volume database systems</span></li>
      <li ><span>Forecast and plan for the infrastructure needs of a rapidly growing SaaS company</span></li>
      <li ><span>Collaborate with our world class engineering team to detect and resolve infrastructure problems</span></li>
      <li ><span>Maintain redundant and secure database systems</span></li>
    </ul>
    <br>
    <br>
    <p>The position is a hands-on position responsible for configuring, integrating, and maintaining all the companies Development, Staging and Production PostgreSQL databases.</p>

    <p>The position also includes monitoring databases to optimize database performance and diagnosing any issues.</p>

    <p>The DBA will also help develop, implement, maintain policies and procedures and document database architecture to ensure the security and integrity of the databases. They will implement data models, database designs, data access, table maintenance and code changes together with our development team. The DBA will work towards excellence and actively participate in the continual improvement of the department and company.</p>

    <br>
    <p  class="c_subhead">Requirements</p>

        <ul class="myul">
          <li><span> 3-6 years of administering large PostgreSQL databases</span></li>
          <li><span> Must have the ability to do performance tuning / index maintenance to meet and assist the needs of the Development teams using PostgreSQL</span></li>
          <li><span>Must have experience backing up and restoring PostgreSQL database on a regular basis</span></li>
          <li><span>Designing and Managing PostgreSQL database schemas</span></li>
          <ul>
              <li><span>Experience in Security access control</span></li>
              <li><span>Experience with testing</span></li>
              <li><span>Experience with configuration management</span></li>
              <li><span>Experience with version control</span></li>
              <li><span>Experience with 24x7 zero downtime database management</span></li>
              <li><span>Knowledge of fault detection and resolution processes</span></li>
          </ul>
        </ul>
    <br>
    <P>Interested? Send us your resume below and we will be in contact.</P>

    <br>
    <br>
    <br>
    <br>
    <%= link_to "APPLY NOW", careers_ruby_f_path, class: "button_a foot_b" %>
    <br>
    <br>
    <br>
    <br>
    <%= link_to "Go back to carrers page", careers_index_path, class: "go_back" %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>