<div class="c_head_background">
  <div class="c_head_div">
    <p class="c_head"> Ruby on rails developer</p>
    <p class="c_head1"> Wellington, Development, Full-time</p>
<%= link_to "APPLY NOW", careers_ruby_f_path, class:"button_a  head_b" %>
  </div>


<div class="body_div" >
<p class="c_subhead">Job brief</p>

<p>Do you like writing mean and clean Ruby code?</p>

<p>We’re looking for 2 people with a passion for programming and for writing beautiful code.  You will be part of a team building an exceptional product.</p>

  <br>
<p  class="c_subhead">Responsibilities</p>

  <ul class="myul">
    <li ><span>Write clean, maintainable and efficient code</span></li>
    <li ><span>Design robust, scalable and secure features</span></li>
    <li ><span>Contribute in all phases of the development lifecycle</span></li>
    <li ><span>Follow best practices (test-driven development, continuous integration, SCRUM, refactoring, code standards)</span></li>
    <li ><span>Drive continuous adoption and integration of relevant new technologies into design</span></li>
  </ul>


  <br>

  <p  class="c_subhead">Requirements</p>

  <ul class="myul">
    <li><span> Relevant degree in Computer Science, Engineering or a related subject</span></li>
    <li><span>Proven working experience in developing applications with Ruby on Rails </span></li>
    <li><span>  Proven working experience in software development</span></li>
    <li><span>Demonstrable knowledge of front-end technologies such as JavaScript, HTML, CSS & JSON </span></li>
    <li><span>Experience developing highly interactive applications </span></li>
    <li><span>  A firm grasp of object oriented analysis and design</span></li>
    <li><span> Passion for writing great, simple, clean, efficient code</span></li>
    <li><span> Good knowledge of relational databases</span></li>
    <li><span> Working knowledge of PostgreSQL</span></li>
  </ul>

</div>
</div>












