<div class="c_head_background">
  <div class="c_head_div">
    <p class="c_head"> Ruby on rails developer</p>
    <p class="c_head1"> Wellington, Development, Full-time</p>
  </div>
  <div class="body_div" >

<%= render :partial => "contact_details/new", :locals => {:contact_detail => ContactDetail.new} %>



<%= link_to "Go back to carrers page", careers_index_path, class: "go_back" %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>