<div class="c_head_background">
  <div class="c_head_div">
    <p class="c_head"> Product Manager – “Homes – find yours”</p>
    <p class="c_head1"> Wellington, Development, Full-time</p>
    <%= link_to "APPLY NOW",  careers_sme_f_path , class:"button_a  head_b" %>
  </div>

  <div class="body_div" >
    <p class="c_subhead">Job brief</p>
    <p>We are looking for a product manager to work closely with design and engineering to help build and award winning experience for our desktop/mobile users.</p>

    <br>
    <p  class="c_subhead">Position Responsibilities:</p>


    <ul class="myul">
      <li><span>    Work collaboratively with design/engineering to deliver the best experience for home owners and hunters on mobile and tablet devices</span></li>
      <li><span>	Help develop, manage and communicate the desktop and mobile product roadmap</span></li>
      <li><span>	Define and analyse product metrics to inform decision-making and measure success</span></li>
      <li><span>	Leverage user research, feedback, and usability studies to inform new areas of product growth</span></li>
      <li><span>	Clearly articulate product strategy and benefits to a wide range of people, internal and external</span></li>
      <li><span>	Stay up to date on the latest mobile developments and come up with new ways to delight Ideaz users</span></li>
   </ul>


    <br>

    <p  class="c_subhead">Desired Skills & Experience:</p>

    <ul class="myul">
      <li><span>	Software Engineering background required (CS degree and/or coding experience)</span></li>
      <li><span>	4+ years of experience with product management, with at least 2 years of experience developing and delivering mobile products</span></li>
      <li><span>	Have a clear track record of shipping successful mobile products on iOS and Android, specifically applications that already have large and rapidly-growing user bases</span></li>
      <li><span>	Have the ability to manage projects across varying technology stacks and can understand deep technical issues that arise from both</span></li>
      <li><span>	Have technical independence: can quickly collect and analyse data from a variety of environments without help from others</span></li>
      <li><span>	Must care deeply about user experience and have strong consumer product instincts</span></li>
      <li><span>	Extremely detail-oriented and organised, with the ability to manage many projects in parallel</span></li>
      <li><span>	Excellent written and verbal communication skills</span></li>
      <li><span>	Background in mobile ecommerce or social media is a plus</span></li>
    </ul>
    <br>
    <P>Interested? Send us your resume below and we will be in contact.</P>

    <br>
    <br>
    <br>
    <br>
    <%= link_to "APPLY NOW", careers_ruby_f_path, class: "button_a foot_b" %>
    <br>
    <br>
    <br>
    <br>
    <%= link_to "Go back to carrers page", careers_index_path, class: "go_back" %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>


