

<p> Explore Every Home in New zealand</p>

<%= render :partial => "contact_details/new", :locals => {:contact_detail => ContactDetail.new} %>
<br>
<br>
<%= render :partial => "feedbacks/new", :locals => {:feedback => Feedback.new} %>
